
#Home-Page-Header {
  display: flex;
  flex-wrap: nowrap;
  font-size: 150px;
}

#Home-Page-Header > div{
  width:100px;
  align-items: top;

}

.Home {
  position: absolute;
  overflow: hidden;
  top: 270px;
  left: 900px;
  z-index: 1;
}

.Create{
  position: absolute;
  overflow: hidden;
  z-index: 1
  
}
.Delete{
  position: absolute;
  overflow: hidden;
  z-index: 1
  
}
.Update{
  position: absolute;
  overflow: hidden;
  z-index: 1
  
}

/*SEARCH PAGE CSS*/
.Search{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
   padding: 10px; 
   z-index: 1; 
}

.Search-Bar{
  padding: 10px;
  width:20%;
  z-index: 1;
}

.Display-Image{
  padding: 10px;
  width: 20%;
}

.Display-Data{
  padding: 10px;
  width: 20%;
  z-index: 1;
}

.App-header {
  background-image: url("home-background.jpg");
  background-image: repeat;
  background-size: cover;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header:after {
  content: "";
  animation: grain 12s steps(10) infinite;
  background-size: cover;
  background-image: url("smoke.jpg");
  height: 300%;
  width: 300%;
  opacity: 0.3;
  position: fixed;
}

@keyframes grain {
   0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-2%, -3%) }
  20% { transform:translate(-4%, -3%) }
  30% { transform:translate(-2%, -1%) }
  40% { transform:translate(0%, 1%) }
  50% { transform:translate(2%, 3%) }
  60% { transform:translate(2%, 1%) }
  70% { transform:translate(0%, -1%) }
  80% { transform:translate(-2%, -1%) }
  90% { transform:translate(0%, 1%) }
}

.App-link {
  color: #61dafb;
}
