@font-face{
    font-family: norseRegular;
    src: url("./norse.regular.otf") format("opentype");
  }

body {
    margin: 0;
    font-family: 'norseRegular', Fallback, sans-serif;
}
.sidenav {
      height: 100%;
      width: 200px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-image: url("Helm-of-Awe.png");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100%;
      background-color: black;
      overflow-x: hidden;
}

/* Side navigation links */
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }

  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }